
//Fonts

$font-family: "Montserrat", sans-serif;

//Weight

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-heavy: 700;

//Colors

$color-primary: #3BA1E6;
$color-secondary: #79848D;
$color-tertiary: #F5F5F5;

$color-dark-web: #091C29;
$color-palePink: #FC5185;
$color-dark: #041019;
$color-light: white;

//Breakpoints

$movil: 320px;
$tablet: 768px;
$desktop: 1280px;