@import '../../../styles/index.scss';

.footer-container {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  background-color: $color-dark;
  
  &__copy {
    p {
      margin: 20px auto;
      color: $color-light;
      text-align: center;
      font-size: 18px;
    }
  }
}