@import '../../../styles/index.scss';

.skills-container {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  &__cards {
    h2 {
      text-transform: uppercase;
      color: $color-light;
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}