@import '../../../styles/index.scss';

.about-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__text {
    p {
      color: $color-light;
    }

    @include movil {
      font-size: 16px;
    }

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 21px;
    }
  }

  &__btn {
    text-align: end;
    padding-top: 40px;
    font-weight: $font-weight-heavy;

    a {
      background-color: $color-primary;
      padding: 18px 30px 18px 30px;
      border-radius: 20px;
      text-transform: uppercase;
      color: $color-tertiary;
      font-size: 20px;
      
  
      &:hover {
        background-color: $color-secondary;
        color: $color-light;
      }
  
      @include desktop {
        height: 62px;
        width: 32px;
      }
    }
  }


  @media screen and (max-width: 768px) {
    &__btn {
      a {
        font-size: 12px;
      }
    }
  }
  
  @media screen and (max-width: 480px) {
    height: 100vh;
    &__btn {
      a {
        font-size: 12px;
      }
    }
  }
}