@import './styles/index.scss';

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  border: 1px solid $color-secondary;
  background-color: $color-secondary;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: $color-secondary;
}

body::-webkit-scrollbar-thumb {
  background-color: $color-primary;
}

.title {
  margin-bottom: 40px;

  h1 {
    font-family: $font-family;
    font-weight: $font-weight-heavy;
    text-align: left;
    font-size: 24px;
    color: $color-tertiary;
  }

  .barra {
    background-color: $color-primary;
    height: 4px;
    width: 60px;
  }
}